@model LeaveRequestVM

@{
    ViewData["Title"] = "Leave Request Details";
    string className;
    string headingText;
    if(Model.Approved == null)
    {
        headingText = "Pending Approval";
        className = "warning";
    }
    else if (Model.Approved == true)
    {
        headingText = "Approved";
        className = "success";
    }
    else
    {
        headingText = "Rejected";
        className = "danger";
    }
}

<h1>Leave Request Details</h1>

<div class="alert alert-@className" role="alert">
    <h4 class="alert-heading">@headingText</h4>
    <hr/>
    <p>
        <strong>Employee Name:</strong> @Model.Employee.FirstName @Model.Employee.LastName
        <br/>
    </p>
    <p>
        <strong>Date Requested:</strong> @Html.DisplayFor(model => model.DateRequested)
        <br />
    </p>
</div>

<div>
    <h4>LeaveRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestComments)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Approved == null)
    {
    <div class="container">
        <div class="row">
            <div class="col">
            <form class="d-flex" asp-action="ApproveRequest">
                <input asp-for="Id" type="hidden" value="@Model.Id" />
                <input name="approved" type="hidden" value="true" />
                <button type="submit" class="btn btn-success" style="width: 200px;">Approve</button>
            </form>
        </div>
        <div class="col">
        <form class="d-flex" asp-action="ApproveRequest">
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <input name="approved" type="hidden" value="false" />
            <button type="submit" class="btn btn-danger" style="width: 200px;">Reject</button>
        </form>
        </div>
        </div>
        </div>
    }
    else
    {
        <form method="post">
            <input value="@Model.Id" name="id" type="hidden" />
            <button type="submit" class="btn btn-danger" style="width: 200px;" asp-action="Delete">Delete</button>
        </form>
    }

    <hr/>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
